.cosmictechhublogo {
  margin-left: -10px;
  margin-top: -10px;
  height: 300px;
  width: 600px;
}

.spacetug {
  height: 281px;
  width: 500px;
}

.skypebutton {
  border-radius: 10px;
}

.subscribebutton {
  border-radius: 10px;
}

.poebotbutton {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 100px;
}

.box1 {
  background-color: #090909;
  height: 300px;
  width: device-width;
  margin-top: -304px;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-image: url('cosmictechhubbg.png');
}

/* Style tab links */
.tablink {
  background-color: #000066;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.tab1 {
  text-align: center;
  font-size: 80px;
}

.p1 {
  text-align: left;
  font-size: 40px;
}

.p2 {
  text-align: center;
  font-size: 40px;
}

.sec1 {
  text-align: center;
  font-size: 70px;
}

.sec2 {
  font-size: 60px;
}

.container1 {
  height: 281px;
  width: 500px;
}

.container2 {
  height: 281px;
  width: 500px;
  margin-left: 600px;
  margin-top: -430px;
}

.container3 {
  height: 281px;
  width: 500px;
}

.container4 {
  height: 281px;
  width: 500px;
  margin-left: 600px;
  margin-top: -249px;
}

.mainmovinggallery {
  display: flex;
  overflow: hidden;
}

.movinggallery {
  width: 500px;
  transition: transform 0.5s ease-in-out;
}

.gallerybuttons {
  margin-top: 0px;
  margin-left: 0px;
  width: 49.8%;
}

.box {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto; /* Center the box horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between elements */
}

#Home {
  background-image: url('cosmictechhubbg.png');
}

#News {
  background-image: url('cosmictechhubbg.png');
}

#Products {
  background-image: url('cosmictechhubbg.png');
}

#About Us {
  background-image: url('cosmictechhubbg.png');
}

#songList {
  padding: 5px;
  font-size: 16px;
}
#songButton, #resetButton {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#songButton:hover, #resetButton:hover {
  background-color: #ddd;
}
